{% if app.user and not app.user.active %}
    <div class="mb-0 mt-4 alert alert-warning alert-dismissible fade show" role="alert">
        <i class="fas fa-exclamation-circle"></i> {{ 'app.auth.active_profile'|trans }} <a href="{{ path('app_resend_confirmation') }}" class="alert-link">{{'app.auth.resend_email'|trans}}</a>
    </div>
{% endif %}