<div class="card my-4">
    <div class="card-header">
        <h5 class="mb-0">Categories</h5>
    </div>
    <div class="p-3">

        {% for category in categories %}
            <a href="{{ path('category_posts', {'slug' : category.slug}) }}" class="m-1 btn btn-sm btn-{{ color_by_key(category.color) }}">
                {{ category.title }}
                <span class="badge badge-light">{{ category.posts|length }}</span>
            </a>
        {% endfor %}

    </div>
</div>