{% extends 'base.html.twig' %}

{% block content %}

    <div class="post-index post-sniper-bg position-relative">

        {{ include('post/_sniper.html.twig') }}

        {% block posts_header %}{% endblock %}

        <div id="posts">
            {{ include('post/_items.html.twig', {pagination : pagination}) }}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('post') }}
{% endblock %}