{% extends 'post/index.html.twig' %}

{% block posts_header %}
    <div class="text-center my-4">
        <h1>{{ user.nickname }} {{'post.posts'|trans|lower}} <span class="badge badge-info">{{user.posts|length}}</span></h1>
    </div>
{% endblock %}